<header>
  <nav>
    <div class="logo">
      <div id="refresh" class="logo_destaque" (click)="navigateToHome()">
        <img src="../../assets/logo.png" alt="logo" />
        <p class="logo-azul">V&N Colors</p>
      </div>
      <input type="text" placeholder="Qué deseas buscar?" />
    </div>

    <div class="list">
      <ul class="list_menu">
        <li class="list_menu_item"><a routerLink="/" class="list_menu_itemlink">Inicio</a></li>
        <li class="list_menu_item"><a routerLink="/login" class="list_menu_itemlink">Login</a></li>
        <li class="list_menu_item"><a routerLink="/productos" class="list_menu_itemlink">Productos</a></li>
      </ul>
    </div>

    <div class="carrito">
      <img src="../../assets/Carrito.png" alt="Carrito" (click)="mostrarCarrito()" />
      <div class="carrito-panel" [ngClass]="{ 'active': carritoOpen }">
        <h3>Productos en el carrito:</h3>
        <!-- Agrega aquí el contenido del carrito -->
        <button (click)="navigateToCarrito()">Ir al carrito</button>
      </div>
    </div>

    <div class="user" (click)="toggleMenu()">
      <img src="../../assets/usuario.png" alt="perfil" />
      <div class="dropdown-menu" *ngIf="menuOpen">
        <div *ngIf="isLoggedIn; else notLoggedIn">
          <a class="user_list_name">{{Nombre | uppercase}}</a>
          <a class="user_list" routerLink="/perfil">Perfil</a>
          <a class="user_list" routerLink="/compras">Tus compras</a>
          <a class="user_list" routerLink="/">Opiniones</a>
        </div>

        <ng-template #notLoggedIn>
          <a class="user_list" routerLink="/login">Iniciar sesión</a>
        </ng-template>
      </div>
    </div>
  </nav>
</header>
