<div class="carrito-container">
    <h2>Productos en el carrito</h2>
    <div *ngIf="productosCarrito.length === 0">
      <p>No hay productos en el carrito.</p>
    </div>
    <div *ngFor="let producto of productosCarrito" class="producto-item">
      <img [src]="producto.src" [alt]="producto.alt">
      <div class="producto-info">
        <h3>{{ producto.titulo }}</h3>
        <p>{{ producto.descripcion }}</p>
        <p>Precio: {{ producto.precio }}</p>
        <button (click)="eliminarProducto(producto)">Eliminar</button>
      </div>
    </div>
    <button *ngIf="productosCarrito.length > 0" (click)="vaciarCarrito()">Vaciar carrito</button>
</div>
  