.contacto
{
  background-color: rgb(250, 191, 235);
  display: flex;
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: center;
}

.contacto_imagen
{
  display: flex;
  width: 20%;
  height: 90%;
  margin: 20px 20px 20px 20px;
  align-items: center;
}

.contacto_imagen img
{
  cursor: pointer;
  width: 40%;
  height: 10%;
  margin-right: 5%;
}

.contacto_links{
  display: flex;
  flex-direction: column;
  line-height: 300%;
  width: 25%;
  margin-right: 3%;
}

.contacto_links a {
  color: rgb(191, 5, 182);
  text-decoration: none;
  font-weight: bolder;
  font-size: 120%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Courier New', Courier, monospace;
}

.form 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 45%;
}

.form p 
{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 150%;
  text-align: left;
}

.form input 
{
  width: 90%;
  position: relative;
  height: 56px;
  border: transparent;
  margin-bottom: 20px;
  box-sizing: content-box;
  padding: 0.5% 2.7%;
  margin-top: 4%;
}

input, textarea {
  outline-color: rgb(141,84,156);
}
.form textarea 
{
  width: 92%;
  height: 70px;
  font-family: "Relaway", sans-serif;
  border: transparent;
  margin-bottom: 20px;
  padding-left: 3%;
  padding-top: 2%;
}

.form button 
{
  background-color: rgb(230, 126, 225);
  border: none;
  height: 50px;
  width: 60%;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 40px;
  font-size: 110%;
  cursor: pointer;
}

