<section class="contacto">

    <div class="contacto_imagen ">
        <img src="../../assets/logo.png" routerLink="/" alt="logo" />
    </div>

    <div class="contacto_links">
        <a href="">Quienes somos</a>
        <a href="">Política de Privacidad</a>
        <a href="">Programa de fidelidad</a>
        <a href="">Nuestras Tiendas</a>
    </div>

    <div class="form">
        <p>Habla con nosotros</p>
        <input
        type="text"
        name="Nombre"
        id="Nombre"
        class="input-nombre"
        placeholder="Nombre"
        />
        <textarea
        name="mensaje"
        id="msg"
        placeholder="Escribe tu Mensaje"
        ></textarea>
        <button>Enviar Mensaje</button>
    </div>

</section>
