.productos
{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productos_titulo
{
  font-family: 'Courier New', Courier, monospace;
  margin-top: 4%;
  text-align: center;
  font-size: 200%;
}

.box-producto{
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.productos_imagenes_list
{
  width: 15%;
}

.info_producto_titulo1{
  font-family: 'Courier New', Courier, monospace;
}

.info_producto_descripcion1{
  font-family: 'Courier New', Courier, monospace;
}
.Boton_Agregar{
  width: 100%;
  margin-bottom: 5px;
  border: none;
  color: black;
  padding: 14px 210px;
  cursor: pointer;
  background-color: rgb(230, 126, 225);
  margin-top: 7%;
  margin-bottom: 5%;
  font-size: 110%;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 40px;
}
    