<section class="productos">
    <div class="productos_titulo">
        <h1>Productos</h1>
    </div>

    <div class="productos_imagenes">
        <div class="box-producto" *ngFor="let producto of productos">
            <img
                class="productos_imagenes_list"
                [src]="producto.src"
                [alt]="producto.alt"
            />
            <div class="info_producto">
                <div class="info_producto_titulo1">
                    <h2>{{ producto.titulo }}</h2>
                </div>
                <div class="info_producto_descripcion1">
                    <p>{{ producto.descripcion }}</p>
                </div>
                <div class="info_precio_producto">
                    <p>{{ producto.precio }}</p>
                </div>
                <button class="Boton_Agregar" (click)="agregarAlCarrito(producto)">Agregar al carrito</button>
                
            </div>
        </div>
    </div>
    
</section>